*{
    padding: 0px;
    margin : 0px;
    border: none;
    box-sizing: border-box;

}
.body{
    display: flex;
    flex-direction: column;    
    width : 1080px;
    height: 2160px;    
   
}
.div_mae{
    display: inline-table;
    flex-direction: column;
    align-items: center;
    width : 1080px;
    height: 1935px;
    background-color: rgb(250, 250, 235) ;
}
.t1_titulo{
    width: 100%;
    background-color: rgb(80, 150, 250) ;
    height: 120px;
  }
.t2_titulox{
    width: 100%;
    position: relative;
}
.img_menu{
    margin-top: 1%;
    cursor: pointer;
}
.img_tools{
    margin-left: 80%;
    margin-top: 1%;
    cursor: pointer;
}
.img_titulo{
    width: 100%;
    text-align: center;
}
.div_logo{
    margin-top: 100px;
    text-align: center;
    align-content: center;
}
.img_meio{
    width: 540px;
}
.la_senha{
    font-size: xxx-large;
}
.me_password{
    padding :10%;
    font-size: xxx-large;
    border-radius: 15px;
    width : 320px;
    border : 1px rgb(214, 206, 206) solid
}
.div_senha{
    width :30%;
    margin: 0 auto;
}
.div_senha1{
    margin-top: 100px;
    width: 30%;
    text-align: left;
}
.div_botoes{
    text-align: right;
    height: 105px;
    width : 100%;
    padding-right: 30px;
}
.btn{
    width :10%;
}
.btver{
    display: inline;
    flex-direction: row;
    background-color: white;
    background-image: url("/img/btn_01.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width : 9.5% ;
    height: 315%;
    cursor: pointer;
}

.btazu{
    background-color: white;
    background-image: url("/img/btn_02.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width : 9.5% ;
    height: 315%;
    cursor: pointer;
}
.btvde{
    background-color: white;
    background-image: url("/img/btn_03.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width : 9.5% ;
    height: 315%;
    cursor: pointer;
}
.fx{
    font-size: xxx-large;
}